:root {
    --high: #f7f7f8;
    --midhigh:#bcbec8;
    --mid: grey;
    --midlow: #272930;
    --low: #111217;
    --accent: #1446FF;
  }

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: var(--low);
    background-image: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.6) 70%,
        rgba(0, 0, 0, 0.2) 100%
        ),
        url("backgroundimage.jpg");
    color: var(--high);
}

.big-text {
    font-size: 40px;
}

.small-text {
    font-size: 20px;
    color: var(--midhigh);
}

.container {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signuppage {
    display: none;
}

.next-button {
    background-color: var(--low);
    border: solid 2px;
    border-color: var(--midlow);
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    height: 60px;
    font-size: 30px;
    color: var(--high);
    transition: 0.12s;
}

.next-button:hover{
    background-color: var(--midlow);
}

.slider {
    width: 95%;
    cursor: pointer;
    margin: 0;
    transition: 2s;
}

input[type="range"] {
    appearance: none;
    border: solid 2px;
    border-color: var(--midhigh);
    border-radius: 10px;
    height: 10px;
    background: var(--low);
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--high);
    border-radius: 50%;
}

.slider:hover {
    opacity: 1;
}

.range {
    width: 75vw;
    position: relative;
    max-width: 1000px;
    opacity: 0.8;
    transition: 0.3s;
}

.range:hover {
    opacity: 1;
}

.range span {
    font-size: 30px;
    color: var(--high);
    width: 60px;
    text-align: center;
}

.sliderlabel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.moneyimage {
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.money {
    background: transparent;
    width: auto;
    height: 200px;
    transition: opacity 0.6s ease-out;
}

.input-text {
    width: 360px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: var(--low);
    border: solid 2px;
    border-color: var(--midlow);
    border-radius: 10px;
    color: var(--high);
    font-size: 20px;
}

.input-text::placeholder {
    color: var(--midhigh);
}

.warning {
    color: orange;
}

.warning2 {
    color: orange;
}

.signup-button {
    background-color: var(--low);
    border: solid;
    border-color: var(--midlow);
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    height: 60px;
    font-size: 30px;
    color: var(--high);
}

.signup-button:hover{
    background-color: var(--midlow);
}

.fakelink {
    font-weight: bold;
    color: rgb(133, 176, 255);
    cursor: pointer;
    text-decoration: underline;
}